<h1>Registration page</h1>
<form action="/registration/register" method="post">
  <p><input type="text" name="user_id" placeholder="Username" required /></p>
  <p><input type="text" name="password" placeholder="Password" required /></p>
  <p><input type="text" name="given_name" placeholder="First Name" /></p>
  <p><input type="text" name="family_name" placeholder="Last Name" /></p>
  <p><input type="text" name="street_addy" placeholder="Street Address" /></p>
  <p><input type="text" name="city" placeholder="City" /></p>
  <p><input type="text" name="state" placeholder="State" /></p>
  <p><input type="text" name="country" placeholder="Country" /></p>
  <p><input type="text" name="postal" placeholder="Zip Code" /></p>
  <p><input type="text" name="home_phone" placeholder="Home Phone" /></p>
  <p><input type="text" name="cell_phone" placeholder="Cell Phone" /></p>
  <p><input type="text" name="work_phone" placeholder="Work Phone" /></p>
  <p><input type="text" name="email_addy" placeholder="Email Address" /></p>
  <p><input type="submit" value="Register"/></p>
</form>
