<h1>Please Log In</h1>
<form>
  <p><input type="text" name="user_id" placeholder="Username" required /></p>
  <p><input type="text" name="password" placeholder="Password" required /></p>
  <p><input type="submit" value="Login"/></p>
</form>
<h2><a href="/registration/index">No account? Register here</a></h2>
